html {
    font-size: 100%;
    height: 100%
}

body {
    font-family: 'Open Sans', verdana, arial;
    font-weight: 300;
    margin-top: 40px;
    background: #DFE5E9;
}

#login {
    margin: 15px 0px;
    padding: 0px;
    text-align: center;
}

#login .inner {
    width: 340px;
    margin: 60px auto;
    margin-bottom: 10px;
    text-align: left;
}

#login .inner .fheader {
    padding: 18px 0 14px 0;
    text-align: center;
    background-color: #f7f7ff;
    margin: 0;
    color: #2e3741;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 10px solid #DFE5E9;
}

#login .inner .cssform {
    background: #b3d9ff;
    padding: 20px;
}

#login .inner .cssform .loginP {
    padding: 0;
}

#login .inner .cssform input {
    width: 100%;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
}

#login #submit {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    display: block;

}

#login .inner .login_message {
    padding: 20px 25px;
    color: #c33;
    text-align: center;
    background-color: #f7f7ff;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 10px solid #DFE5E9;
}

#login .inner .text_ {
    width: 120px;
}

#login .inner .chk {
    height: 12px;
}

.page-icon img {
    vertical-align: middle;
    opacity: .8;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
}

.login-text {
    text-align: center;
    padding: 15px 0;
}

.login-text p {
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}


.login-logo img {
    border: 0;
    display: inline-block;
}